.customBtn {
  color: #FFFFFF;
  border: none;
  border-radius: 35px;
  width: 261px;
  height: 70px;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 1px;
}