.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &_menu {
    display: flex;
    column-gap: 56px;

    &_item {
      font-weight: 700;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #828282;

      &:hover {
        color: #000000;
        cursor: pointer;
        transition: .5s;
      }

    }
  }

  &_phone {
    display: flex;
    column-gap: 11px;

    &_number {
      letter-spacing: 0.04em;
      font-weight: 700;
      color: #000000;
    }

  }

}