html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    font-family: "Avenir Next Cyr", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
}

ol, ul {
    list-style: none;
}

body {
    font-size: 16px;
    line-height: 1.5;
}

a {
    text-decoration: none;
}
